html, body {
  height: 320px;
  width: 200px;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #1d3168;
}

#container {
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#chatArea {
  border-radius: 10px;
  height: 200px;
  width: 175px;
  min-height: 200px;
  max-width: 184px;
  overflow: scroll;
  word-wrap: break-word;
  background-color: white;
  overflow-x: hidden;
  margin: 5px;
}

#loginForm {

}

#imageContainer {
  border-radius: 5px;
  background-color: #121b33;
  display: block;
  margin: 0px 22px 0px 7px;
  border: none;
}

#myLogo {
  width: 140px;
  height: 140px;
  margin: 5px 0px 5px 15px;
  display: block;
}

#emailField {
  border: none;
  border-radius: 4px;
  resize: none;
  margin: 5px 0px 0px 7px;
  height: 30px;
  width: 166px;
  padding-left: 5px;
  background-color: #d6e5ff;
}

#passField {
  border: none;
  border-radius: 4px;
  resize: none;
  margin: 3px 0px 5px 7px;
  height: 30px;
  width: 166px;
  padding-left: 5px;
  background-color: #d6e5ff;
}

#login {
  text-decoration: none;
  color: black;
  border: none;
  border-radius: 4px;
  background-color: #d6e5ff;
  padding: 10px 24px;
  margin-left: 5px;
  margin-top: 5px;
}

#signUp {
  padding: 10px 24px;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 4px;
  background-color: orange;
}


#mainText {
  resize: none;
  width: 168px;
  margin-left: 5px;
  border-radius: 10px;
}

#sendButton {
  margin-left: 5px;
  border-radius:5px;
}

#logOut {
  border-radius: 5px
}

#backContainer {
  border-radius: 5px;
}
